<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="httpPlatformHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified" />
    </handlers>

    <rewrite>
      <rules>
        <!-- Disable ALL IIS rewrite rules so Spring Boot handles ALL routing -->
        <rule name="DisableRewriteForSpring" stopProcessing="true">
          <match url=".*" />
          <action type="None" />
        </rule>
      </rules>
    </rewrite>

    <httpPlatform processPath="java" arguments="-jar %HOME%\site\wwwroot\Lab1-1.0-SNAPSHOT.jar" stdoutLogEnabled="true" stdoutLogFile="%HOME%\LogFiles\httpplatform.log" startupTimeLimit="120" processWaitInterval="5" />
  </system.webServer>
</configuration>

